body {
    font-family: "Open Sans", sans-serif;
    color: #27282B;
    margin-left: 3vw;
    margin-right: 3vw;
}

button:hover {
    background-color: #0D65D8;
    color: white;
}

.donation img {
    animation: fadein 3s ease;
}

@keyframes fadein {
	from { opacity: 0; }	
	to { opacity: 1; }
}

/* desktop style */
@media screen and (min-width: 760px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

/* donation information card style */

    .img {
        text-align: center;
    }

    .text {
        text-align: center;
    }

    .raised {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .raised p:nth-child(1) {
       margin-right: 20vw; 
    }
    
    .raised p:nth-child(2) {
        text-decoration: line-through;
        color: #757E90;
    }

    .raised p:nth-child(3) {
        color: #0D65D8;
        font-size: x-large;
        margin-top: 1vw;
    }

    .editor img, 
    .editor p {
        display: inline-block;
        vertical-align: middle;
    }

    .info p {
        color: #757E90;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 4vw;
    }


    button {
        text-decoration: none;
        border: none;
        background-color: white;
        width: 30vw;
        height: 5vw;
        border-radius: 1vw;
    }
}

/* phone size style */
@media screen and (max-width: 760px) {
    .header {
        display: flex;
        justify-content: space-between;
    }

/* donation information card style */

    .img {
        text-align: center;
    }

    .text {
        text-align: center;
    }

    .raised {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .raised p:nth-child(1) {
       margin-right: 20vw; 
    }
    
    .raised p:nth-child(2) {
        text-decoration: line-through;
        color: #757E90;
    }

    .raised p:nth-child(3) {
        color: #0D65D8;
        font-size: x-large;
        margin-top: 1vw;
    }

    .editor img, 
    .editor p {
        display: inline-block;
        vertical-align: middle;
    }

    .info p {
        color: #757E90;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 4vw;
    }


    button {
        text-decoration: none;
        border: none;
        background-color: white;
        width: 100vw;
        height: 10vw;
        border-radius: 1vw;
    }
}