@media screen and (min-width: 960px) {
    body {
        font-family: "Open Sans", sans-serif;
        color:#27282B;
    }

    .mimg {
        display: none;
    }

    ul {
        list-style-type: none;   
    }

    li {
        float: left;
    }

    li a {
        display: block;
        text-align: center;
        text-decoration: none;
        margin-left: 3vw;
    }

    .profile {
        display: flex;
        justify-content: end;
        margin-right: 5vw;
        margin-top: 5vw;
    }

    li a:hover {
        color: #0D65D8;
    }

    .welcome {
        margin-left: 6vw;
    }
    .welcome h1:nth-child(1) {
        font-weight: 300;
    }

    .welcome h1:nth-child(2) {
        font-weight: 600;
    }

    .welcome p {
        color: #757E90;
    }

    .button {
        text-align: center;
        margin-top: 4vw;
    }

    button {
        border: none;
        text-decoration: none;
        width: 20vw;
        height: 5vw;
        background-color: white;
        border-radius: 1vw;
    }

    button:nth-child(1) {
        background-color: #0D65D8;
        color: white;
    }

    hr {
        margin-top: 3vw;
    }

    .text {
        margin-left: 6vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .charity {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 6vw;
        margin-right: 6vw;
        gap: 3vw;
    }

    .block {
        text-align: center;
    }

    .block img {
        width: 100%;
    }

    .block h2 {
        display: flex;
        justify-content: flex-start;
    }

    .raised {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .block p:nth-child(1) {
       margin-right: 20vw; 
    }
    
    .block p:nth-child(2) {
        text-decoration: line-through;
        color: #757E90;
    }

    .block p:nth-child(3) {
        color: #0D65D8;
        margin-left: 1vw;
        margin-top: 0.7vw;
        font-size: 1.7vw;
    }

}

@media screen and (max-width: 960px) {
    
    body {
        font-family: "Open Sans", sans-serif;
        color:#27282B;
    }

    .menu {
        text-align: center;
    }

    ul {
        list-style-type: none;
        padding-left: 0;
    }

    .mimg {
        display: flex;
        justify-content: space-between;
    }

    .mimg li {
        float: left;
        margin-left: 8vw;
        margin-right: 8vw;
    }

    .mimg img {
        width: 6vw;
    }

    .mtext ul {
        margin-top: -6vw;
        margin-left: 1vw;
    }
    
    .mtext li {
        float: left;
    }

    .mtext li a {
        margin-left: 3vw;
        margin-right: 3vw;
    }

    .profile {
        display: flex;
        justify-content: end;
        margin-right: 5vw;
        margin-top: 5vw;
    }

    li a:hover {
        color: #0D65D8;
    }

    .welcome {
        margin-left: 6vw;
    }
    .welcome h1:nth-child(1) {
        font-weight: 300;
    }

    .welcome h1:nth-child(2) {
        font-weight: 600;
    }

    .welcome p {
        color: #757E90;
    }

    .button {
        text-align: center;
        margin-top: 4vw;
    }

    button {
        border: none;
        text-decoration: none;
        width: 20vw;
        height: 5vw;
        background-color: white;
        border-radius: 1vw;
    }

    button:nth-child(1) {
        background-color: #0D65D8;
        color: white;
    }

    hr {
        margin-top: 3vw;
    }

    .text {
        margin-left: 6vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
    }

    .charity {
        display: grid;
        grid-template-columns: auto auto;
        margin-left: 6vw;
        margin-right: 6vw;
        gap: 3vw;
    }

    .block {
        text-align: center;
    }

    .block img {
        width: 100%;
    }

    .block h2 {
        display: flex;
        justify-content: flex-start;
    }

    .raised {
        display: flex;
        justify-content: flex-start;
        width: 100%;
    }

    .block p:nth-child(1) {
       margin-right: 20vw; 
    }
    
    .block p:nth-child(2) {
        text-decoration: line-through;
        color: #757E90;
    }

    .block p:nth-child(3) {
        color: #0D65D8;
        margin-left: 1vw;
        margin-top: 0.7vw;
        font-size: 1.7vw;
    }

}